<nav class="w-full">
  <div class="flex justify-around items-center">
    <p class="text-3xl pl-16">MY<span class="font-bold">B00K</span></p>
    <ul
      class="flex p-6 space-x-8 font-medium text-lg pl-96 items-center text-white"
    >
      <li>
        <button
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </button>
      </li>
      <li>
        <button
          routerLink="/books"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Books
        </button>
      </li>
      <li>
        <ng-container *ngIf="isAuthenticated(); else loginButton">
          <button
            class="bg-white text-2xl px-2 py-3 rounded-3xl ml-28 w-40 font-bold text-black"
            (click)="logout()"
            routerLink="/login"
            routerLinkActive="active"
          >
            Log Out
          </button>
        </ng-container>
        <ng-template #loginButton>
          <button
            class="bg-white text-2xl px-2 py-3 rounded-3xl ml-28 w-40 font-bold text-black"
            routerLink="/login"
            routerLinkActive="active"
          >
            Log In
          </button>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>
