<div class="absolute top-0 left-0 mt-4 ml-4 z-20">
  <a routerLink="/">
    <img src="/assets/images/Button.png" alt="Back" class="w-8 h-8" />
  </a>
</div>

<div
  class="h-full bg-no-repeat bg-cover bg-center relative overflow-hidden"
  style="background-image: url('/assets/images/Header.png')"
>
  <form
    [formGroup]="bookForm"
    (ngSubmit)="addNewBook()"
    class="mt-52 h-[100vh] rounded-lg w-[80%] mx-auto items-center font-Rubik font-bold bg-gray-300"
  >
    <p class="pt-6 text-2xl text-center font-bold">Add New Book</p>
    <div class="flex flex-col-2 mt-6 flex-wrap flex-shrink">
      <div class="w-1/2">
        <div class="w-1/2 flex justify-end mx-auto items-center">
          <img
            src="/assets/images/Book2.png"
            alt="Image"
            class="border rounded"
          />
        </div>
      </div>
      <div class="w-1/2 justify-start pt-12">
        <div class="mr-64">
          <label for="title" class="block font-medium">Title</label>
          <input
            required
            formControlName="title"
            type="text"
            id="title"
            name="title"
            placeholder="Title"
            class="mt-1 p-2 border rounded w-[325px]"
          />
          <label for="author" class="block font-medium">Author</label>
          <input
            type="text"
            id="author"
            name="author"
            class="mt-1 p-2 border rounded w-[325px]"
            formControlName="author"
            placeholder="Author Name"
            required
          />
          <label for="category" class="block font-medium">Category</label>
          <select
            id="category"
            name="category"
            class="mt-1 p-2 border rounded w-[325px]"
            formControlName="category"
          >
            <option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="flex flex-col-2 mt-6 pl-28">
      <div class="w-1/2">
        <div class="flex-1">
          <label for="description" class="block font-medium">Description</label>
          <textarea
            required
            id="description"
            name="description"
            placeholder="Description"
            rows="6"
            class="mt-1 p-2 border rounded w-[825px] overflow-hidden"
            formControlName="description"
          ></textarea>
        </div>
        <button
          class="bg-yellow-300 px-2 py-2 mt-4 rounded-lg w-24"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="addNewBook()"
        >
          Create
        </button>
      </div>
    </div>
  </form>
</div>
