<div class="flex h-full w-full relative font-Rubik overflow-hidden">
  <app-navbar class="absolute top-0 left-0 w-screen z-10"></app-navbar>

  <div
    class="w-1/2 h-screen bg-no-repeat flex flex-col items-center justify-center relative z-0 font-bold"
  >
    <p class="text-6xl mb-4 tracking-wide">ALL BOOKS</p>
    <div class="mt-4">
      <button
        class="w-48 bg-[#FFCA42] px-4 py-4 rounded-xl text-center"
        routerLink="/addbook"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="text-xl p-2">+</span> Add New Book
      </button>
    </div>
  </div>

  <div
    class="w-1/2 bg-no-repeat flex items-center justify-center relative z-0"
    style="background-image: url('/assets/images/Book.png')"
  ></div>
</div>

<div class="w-full h-auto bg-slate-200 font-Rubik">
  <div class="flex w-[95%] mx-auto overflow-hidden">
    <div class="w-[20%] h-screen mt-20">
      <button
        class="relative w-full bg-[#FFCA42] mt-6 px-2 py-2 rounded-lg flex items-center"
      >
        <img
          src="/assets/images/Search.svg"
          alt="Search"
          class="absolute left-2 top-1/2 transform -translate-y-1/2 w-5 h-5"
        />
        <input
          type="text"
          class="w-full bg-transparent border-none outline-none pl-8 pr-8 placeholder-gray-600"
          placeholder="Search Category"
        />
      </button>

      <p class="text-lg mt-4 font-bold">Book of Genre</p>

      <div class="ml-8 pt-2 text-md font-bold">
        <button
          (click)="searchCategoryName('All Genre')"
          [routerLink]="['.']"
          [queryParams]="{ category: genres }"
          queryParamsHandling="merge"
          queryParamsHandling="merge"
          class="bg-white p-2 rounded-lg text-center mt-3 w-auto hover:text-[#FFCA42]"
        >
          All Genre</button
        ><br />
        <button
          *ngFor="let genre of genres"
          [routerLink]="['.']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [queryParams]="{ category: genres }"
          queryParamsHandling="merge"
          queryParamsHandling="merge"
          (click)="searchCategoryName(genre)"
          class="bg-white p-2 rounded-lg text-center mt-3 w-auto hover:text-[#FFCA42]"
        >
          {{ genre }}</button
        ><br />
      </div>
    </div>
    <div class="w-[85%] bg-white mt-20 p-8 ml-8 h-auto rounded-xl">
      <p class="text-2xl font-bold m-8 text-center">{{ selectedCategory }}</p>
      <div class="grid grid-cols-2 gap-8">
        <div
          *ngFor="let book of bookList | filterBookCategory : selectedCategory"
          class="flex p-4 bg-white rounded-lg shadow justify-center items-center hover:bg-slate-200"
        >
          <div class="flex-shrink-0 w-1/3 justify-center items-center mt-4">
            <img
              [src]="book.bookImage"
              alt="Image"
              class="h-64 w-full object-cover rounded-lg"
            />
          </div>

          <div class="ml-4 flex-grow justify-center">
            <h2 class="text-2xl font-semibold">{{ book.title }}</h2>
            <p class="text-lg">{{ book.author }}</p>
            <p class="mt-2 text-gray-600 text-justify">
              {{ book.description }}
            </p>
            <div class="mt-4 space-x-2">
              <button
                (click)="setBookId(book.id)"
                class="px-4 py-2 bg-blue-500 text-white rounded-md"
              >
                Read
              </button>
              <button class="px-4 py-2 bg-green-500 text-white rounded-md">
                Update
              </button>
              <button class="px-4 py-2 bg-red-500 text-white rounded-md">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
