<div class="flex h-auto overflow-hidden relative font-Rubik">
  <app-navbar class="absolute top-0 left-0 w-screen z-10"></app-navbar>

  <div
    class="w-1/2 h-screen bg-center bg-no-repeat flex flex-col items-center justify-center relative z-0"
  >
    <div class="text-7xl font-bold pl-32">
      READ AND ADD <br />
      <p class="mt-4">YOUR INSIGHT</p>
    </div>
    <div class="mt-4 pl-24">
      <p class="text-xl font-normal">
        Find Your Favorite Book And Read It Here For Free
      </p>
    </div>
  </div>

  <div
    class="w-1/2 h-auto bg-no-repeat flex items-center justify-center relative z-0"
    style="background-image: url('/assets/images/Hero.png')"
  ></div>
</div>

<div class="bg-gray-100 p-8 font-Rubik w-5/6 h-full rounded-xl mx-auto">
  <p class="text-center text-4xl font-bold mb-8">This new story</p>
  <div class="grid grid-cols-2 gap-8">
    <div
      *ngFor="let book of books"
      class="flex p-4 bg-white rounded-lg shadow justify-center items-center hover:bg-slate-200"
    >
      <div class="flex-shrink-0 w-1/3 justify-center items-center mt-4">
        <img
          [src]="book.bookImage"
          alt="Image"
          class="h-64 w-full object-cover rounded-lg"
        />
      </div>

      <div class="ml-4 flex-grow justify-center">
        <h2 class="text-2xl font-semibold">{{ book.title }}</h2>
        <p class="text-lg">{{ book.author }}</p>
        <p class="mt-2 text-gray-600 text-justify">
          {{ book.description }}
        </p>
        <div class="mt-4 space-x-2">
          <button
            (click)="setBookId(book.id)"
            class="px-4 py-2 bg-blue-500 text-white rounded-md"
          >
            View
          </button>
          <button
            (click)="openModal(book.id)"
            class="px-4 py-2 bg-green-500 text-white rounded-md"
          >
            Update
          </button>
          <button
            (click)="removeBook(book)"
            class="px-4 py-2 bg-red-500 text-white rounded-md"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isModalOpen"
  class="fixed font-Rubik inset-0 flex items-center justify-center bg-black bg-opacity-50 z-10"
>
  <div class="bg-white p-6 rounded shadow-md w-96">
    <h2 class="text-xl font-semibold mb-4">Update Book</h2>
    <div>
      <label class="block mb-2 font-medium">Title</label>
      <input
        class="w-full border rounded p-2 mb-4"
        type="text"
        [value]="book.title"
        #afterUpdatedTitle
      />
    </div>
    <div>
      <label class="block mb-2 font-medium">Author</label>
      <input
        class="w-full border rounded p-2 mb-4"
        type="text"
        [value]="book.author"
        #afterUpdatedAuthor
      />
    </div>
    <div>
      <label class="block mb-2 font-medium">Description</label>
      <input
        [value]="book.description"
        class="w-full border rounded p-2 mb-4"
        #afterUpdatedDescription
      />
    </div>
    <div class="flex justify-end">
      <button
        class="px-4 py-2 bg-blue-500 text-white rounded"
        (click)="
          updateBookById(
            book.id,
            updateBook,
            afterUpdatedTitle,
            afterUpdatedAuthor,
            afterUpdatedDescription
          )
        "
      >
        Update
      </button>
      <button class="px-4 py-2 ml-4 border rounded" (click)="closeModal()">
        Cancel
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
