<div class="absolute top-0 left-0 mt-4 ml-4 z-20">
  <a routerLink="/">
    <img src="/assets/images/Button.png" alt="Back" class="w-8 h-8" />
  </a>
</div>

<div class="h-auto">
  <div
    class="h-30vh w-full bg-no-repeat bg-cover bg-center absolute overflow-hidden"
    style="background-image: url('/assets/images/Header.png')"
  >
    <div
      class="mt-52 h-screen rounded-lg w-[75%] mx-auto items-center font-Rubik font-bold bg-gray-100"
    >
      <div class="flex items-center">
        <img class="" [src]="book.bookImage" alt="Image" />
        <div class="flex flex-col ml-4 mb-40">
          <p class="text-3xl text-[#1B3764]">{{ book.title }}</p>
          <p class="text-2xl text-[#FFCA42]">{{ book.author }}</p>
          <p class="text-sm">{{ book.category }}</p>
        </div>
      </div>
      <div class="p-12">
        <p class="text-lg">Description</p>
        <p class="text-sm">
          {{ book.description }}
        </p>
      </div>
    </div>
  </div>
</div>
