<!-- component -->
<script
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
  defer
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

<style>
  @import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css");
</style>

<div
  class="w-screen h-screen flex items-center justify-center px-5 py-5 font-Rubik"
>
  <div
    class="bg-white text-gray-500 rounded-xl shadow-sm w-full overflow-hidden"
    style="max-width: 1200px"
  >
    <div class="md:flex w-full">
      <div class="hidden md:flex md:flex-col w-1/2 bg-[#1B3764] py-8 px-8">
        <h1 class="text-white font-bold text-lg">MyBook</h1>
        <div class="flex justify-center items-center">
          <img
            src="../assets/images/Moon.svg"
            alt="Moon"
            class="w-[250px] h-[250px]"
          />
        </div>
        <div class="text-white text-center mt-0">
          <h2 class="text-lg">Welcome to MyBook</h2>
          <p class="text-sm">There is no friend as loyal as a book.</p>
        </div>
      </div>

      <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
        <div class="w-full flex justify-center items-center mb-4">
          <img src="../assets/images/Welcome.png" alt="Welcome" />
        </div>
        <div class="text-center mb-4">
          <h1 class="font-bold text-3xl text-gray-900">Welcome</h1>
        </div>
        <form [formGroup]="loginForm">
          <div>
            <div class="flex mx-3 mt-8">
              <div class="w-full px-3 mb-5 p-4">
                <div class="flex justify-center">
                  <div
                    class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
                  >
                    <i class="mdi mdi-email-outline text-gray-400 text-lg"></i>
                  </div>
                  <input
                    type="email"
                    class="w-8/12 -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none"
                    placeholder="johnsmith@example.com"
                    formControlName="email"
                    appValidator
                    [appCustomValidation]="'email'"
                    [ngClass]="{
                      'border-green-500':
                        loginForm.get('email')?.valid &&
                        loginForm.get('email')?.dirty,
                      'border-red-500':
                        loginForm.get('email')?.invalid &&
                        loginForm.get('email')?.dirty,
                    }"
                    (input)="loginForm.get('email')?.markAsDirty()"
                  />
                </div>
              </div>
            </div>
            <div class="flex mx-3 mt-2">
              <div class="w-full px-3 mb-12">
                <div class="flex justify-center">
                  <div
                    class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
                  >
                    <i class="mdi mdi-lock-outline text-gray-400 text-lg"></i>
                  </div>
                  <input
                    type="password"
                    class="w-8/12 -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none"
                    placeholder="************"
                    formControlName="password"
                    appValidator
                    [appCustomValidation]="'password'"
                    [ngClass]="{
                      'border-green-500':
                        loginForm.get('password')?.valid &&
                        loginForm.get('password')?.dirty,
                      'border-red-500':
                        loginForm.get('password')?.invalid &&
                        loginForm.get('password')?.dirty,
                    }"
                    (input)="loginForm.get('password')?.markAsDirty()"
                  />
                </div>
              </div>
            </div>
            <div class="flex mx-3">
              <div class="w-full px-3">
                <button
                  class="block w-full max-w-xs mx-auto bg-sky-500 hover:bg-sky-700 focus:bg-sky-700 text-white rounded-lg px-3 py-3 font-semibold"
                  routerLink="/"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="loginTo()"
                >
                  Log In
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
